<div class="form-group">
  <label for="car-name">Car Name</label>
  <input type="text" class="form-control" id="car-name" placeholder="Car name" [(ngModel)]="carName">
</div>

<div class="form-group">
    <label for="car-model">Car Model</label>
    <input type="text" class="form-control" id="car-model" placeholder="Car model" [(ngModel)]="carModel">
  </div>

<button type="button" class="btn btn-outline-primary" (click)="add">Add Car</button>
<button type="button" class="btn btn-outline-warning"(click)="load">Load Cars</button>
